/* .root {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    box-shadow: var(--mantine-shadow-md);
    border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
  }
  
  .indicator {
    background-color: var(--mantine-color-blue-light);
  }
  
  .control {
    &::before {
      display: none;
    }
  }
  
  .label {
    &,
    &:hover {
      &[data-active] {
        color: var(--mantine-color-blue-6);
      }
    }
  }
  .control{
    position: sticky;
    z-index: 11;
    top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
  } */